@import "../libs/bootstrap/scss/my-variables"
@import "../libs/bootstrap/scss/bootstrap"
@import "mixins/mixin.scss"
@import "mixins/mixins"
@import "fonts"
@import "vars"
@import "media"


.navbar-toggler
	right: 20px
	top: 20px
	left: auto
.loginLoginFieldset
	width: 530px
.loginUsernameLabel, .loginPasswordLabel  
	width: 40%
	display: inline-block
.header
	background-image: url(../img/head-bg.png)
	background-position: top center
	background-repeat: no-repeat
	background-color: #2c4743
.sec-container
	.row
		background-image: url(../img/menu-bg.png)
		background-position: top center
	.nav li
		padding: 0
		a
			display: block
			padding: 6px 16px
.carousel 
	background-image: none
	background-color: #fff

	.carousel-item
		height: 297px		
		img
			height: 100%
			+push-auto	
.thd-container
	background-image: url(../img/header-bg.png)
	background-repeat: no-repeat
	background-position: top center
.arrow-right
	+css-triangle(#cacaca, right, 10px)
.arrow-left
	+css-triangle(#cacaca, left, 10px)